.movie-box {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
}

.movie-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Ensure the video is behind the content */
}

.movie-vid iframe {
    width: 100%;
    height: 90%;
    border: none;
}

.movie-text {
    position: relative;
    width: 30%;
    /* 20% width for the content */
    height: 90%;
    /* background: rgba(0, 0, 0, 0.5); */
    /* Semi-transparent background for better readability */
    color: whitesmoke;
    /* Text color */
    padding: 20px;
    overflow-y: auto;
    /* Enable scrolling if content overflows */
}

.movie-text {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.text-wrapper {
    padding: 10px 5%;
    z-index: 2;
    height: 100%;
    /* background: linear-gradient(to right, #030b17 80%, #0c111b00); */
    color: #fff;
    overflow: hidden;
}

.watch-movie {
    color: #aaa;
    font-size: 20px;
    text-decoration: none;
}

.watch-movie:hover {
    color: var(--cyan);
    text-decoration: none;
}

.text-wrapper {
    padding: 10px 5%;
    z-index: 2;
    /* height: 100%; */
    /* background: linear-gradient(to right, #030b17 80%, #0c111b00); */
    color: #fff;
    overflow: hidden;
}

.text-contain {
    color: aliceblue;
    font-size: 10px;
    text-decoration: none;
}

.title {
    color: #fff;
    opacity: 0.9;
    padding-left: 5%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}

.movie-list {
    padding: 20px 50px;
}

.movie-card p {
    color: #fff;
}

.text-link{
    text-decoration: none;
    color: azure;
    font-size: 15px;
    color:'inherit';
    font-weight: 500;
    white-space:initial;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}